:root {
  --primary-main-color: rgba(60, 179, 113, 1);
  --secondary-main-color: rgb(44, 134, 84);
  --background-color: whitesmoke;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background-color);
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* Loader */
.loader {
  background: var(--background-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */
.navigation-container {
  position: fixed;
  top: 0;
}

.navigation-items {
  display: flex;
  justify-content: center;
}

.background {
  background: var(--background-color);
  position: fixed;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: -1;
}

.clickable {
  color: var(--primary-main-color);
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  color: var(--secondary-main-color);
}

/* Images Container */
.images-container {
  width: 800px;
  margin-top: 50px;
}

.card {
  background: white;
  margin: 10px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.title-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  width: 100%;
  margin: 10px auto;
  font-size: 24px;
}

.fa-heart {
  color: red;
  font-size: 28px;
  cursor: pointer;
}

.fa-heart:hover {
  transform: scale(1.2);
}

.fa-heart.clickable:hover {
  color: red;
}

.text-muted {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Save Confirmation */
.save-confirmed,
.remove-confirmed {
  background: white;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: fixed;
  bottom: 25px;
  right: 50px;
}

/* Hidden */
.hidden {
  display: none;
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 800px) {
  body {
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-align: justify;
  }

  .images-container {
    width: 100%;
  }

  .card-title {
    font-size: 15px;
  }

  .save-confirmed,
  .remove-confirmed {
    right: 25px;
  }
}
